[platform]
debug=1
secret_key=RANDOM_KEY_FOR_SESSION_MANAGEMENT
sql_endpoint=/sql/items/
map_endpoint=/map/items/
redis_url=redis://localhost:6379

[auth]
username=middle
password=ware

[cartodb]
api_key=YOUR_API_KEY
sql_endpoint=https://YOUR_SUBDOMAIN.cartodb.com/api/v2/sql
maps_endpoint=https://YOUR_SUBDOMAIN.cartodb.com/api/v1/map
username=YOUR_USER_NAME

[map]
name=testmap
delete_token_delay=300
sql=select * from items where category = <%= filter %>

[sql]
query=select * from items
