[platform]
debug=1
host=localhost
port=8000
secret_key=RANDOM_KEY_FOR_SESSION_MANAGEMENT
server_cert=certs/server.crt
server_key=certs/server.key

[auth]
username=middle
password=ware

[cartodb]
api_key=YOUR_API_KEY
sql_endpoint=https://YOUR_SUBDOMAIN.cartodb.com/api/v2/sql
maps_endpoint=https://YOUR_SUBDOMAIN.cartodb.com/api/v1/map
username=YOUR_USER_NAME

[map]
name=YOUR_MAP_NAME_SEE_NAMED_MAP_JSON_EXAMPLE
token=YOUR_AUTH_TOKEN_SEE_NAMED_MAP_JSON_EXAMPLE
